snippet log
	console.log(${1});
snippet live
  live('${1:trigger}', function() {
    ${2}
  });
snippet sett
	setTimeout(${1:function() { ${2} }}, ${3:1000});
snippet f
	function${1}() {${2}}
snippet sw
	switch(${1}) {
	case ${2:1}:
		${3}
		break;
	}
snippet if
	if(${1:condition}) ${2:{}}
snippet ifel
	if(${1}) {
		${2}
	} else {
		${3}
	}
