#-----------------------------------------------------------
# Position
#-----------------------------------------------------------
snippet po
	position ${1}
snippet poa
	position: absolute
snippet por
	position: relative
snippet l
	left: ${1}px
snippet r
	right: ${1}px
snippet bot
	bottom: ${1}px
snippet to
	top: ${1}px
#-----------------------------------------------------------
# Size
#-----------------------------------------------------------
snippet w
	width: ${1}px
snippet h
	height: ${1}px
#-----------------------------------------------------------
# Paddings
#-----------------------------------------------------------
snippet pa
	padding: ${1}px
snippet pat
	padding-top: ${1}px
snippet par
	padding-right: ${1}px
snippet pab
	padding-bottom: ${1}px
snippet pal
	padding-left: ${1}px
#-----------------------------------------------------------
# Margins
#-----------------------------------------------------------
snippet m
	margin: ${1}
snippet mt
	margin-top: ${1}px
snippet mr
	margin-right: ${1}px
snippet mb
	margin-bottom: ${1}px
snippet ml
	margin-left: ${1}px
#-----------------------------------------------------------
# Float
#-----------------------------------------------------------
snippet fl
	float: left
snippet fr
	float: right
snippet fn
	float: none
snippet clb
	clear: both
#-----------------------------------------------------------
# Font
#-----------------------------------------------------------
snippet fs
	font-size: ${1}px
snippet co
	color: ${1}
snippet fw
	font-weight: ${1:bold}
snippet lh
	line-height: ${1}px
snippet tdn
	text-decoration: none
snippet tdu
	text-decoration: underline
#-----------------------------------------------------------
# Display
#-----------------------------------------------------------
snippet d
	display: ${1}
snippet dn
	display: none
snippet db
	display: block
snippet di
	display: inline
snippet dib
	display: inline-block
#-----------------------------------------------------------
# Text aligments
#-----------------------------------------------------------
snippet ta
	text-align: ${1}
snippet tac
	text-align: center
snippet tal
	text-align: left
snippet tar
	text-align: right
snippet tt
	text-transform: ${1}
snippet ttu
	text-transform: uppercase
#-----------------------------------------------------------
# Borders
#-----------------------------------------------------------
snippet bor
	border: ${1:1} ${2:solid} ${3:black}
snippet bort
	border-top: ${1:1} ${2:solid} ${3:black}
snippet borr
	border-right: ${1:1} ${2:solid} ${3:black}
snippet borb
	border-bottom: ${1:1} ${2:solid} ${3:black}
snippet borl
	border-left: ${1:1} ${2:solid} ${3:black}
#-----------------------------------------------------------
# Borders
#-----------------------------------------------------------
snippet ba
	background: ${1}
snippet bai
	background-image: url('${1}')
snippet bap
	background-position: ${1}
#
snippet !
	!important
